
<main class="container mt-5">
  <LinkTo @route="articles">
    Articles
  </LinkTo>
  <LinkTo @route="news">
    News
  </LinkTo>
  <LinkTo @route="shoes">
    Shoes
  </LinkTo>
  <LinkTo @route="sale">
    Sale
  </LinkTo>
</main>

{{outlet}}